<nav class="navbar">
  <div class="nav-container">
    <ul class="nav-links">
      <li>
        <a href="/"
           data-nav="home"
          class="{% if page.nav == 'home' %}active{% endif %}">
          Home
        </a>
      </li>
      <li>
        <a href="/chinese/"
           data-nav="chinese"
          class="{% if page.nav == 'chinese' %}active{% endif %}">
          Chinese 中文
        </a>
      </li>
      <li>
        <a href="/academic_journey/"
           data-nav="cv"
          class="{% if page.nav == 'academic_journey' %}active{% endif %}">
          Academic Journey
        </a>
      </li>
      <li>
        <a href="/triathlon/"
           data-nav="triathlon"
          class="{% if page.nav == 'triathlon' %}active{% endif %}">
          Triathlon
        </a>
      </li>
    </ul>
  </div>
</nav>