%-------------------------------------------------------------------------------
%	SECTION TITLE
%-------------------------------------------------------------------------------
\cvsection{((( data.section_title | tex_escape )))}

%-------------------------------------------------------------------------------
%	CONTENT
%-------------------------------------------------------------------------------
\begin{cventries}
((%- for entry in data.entries -%))
  \cventry
    {((( entry.degree | tex_escape )))} % 1
    {((( entry.institution | tex_escape )))} % 2
    {((( entry.location | tex_escape )))} % 3
    {((( entry.start_date | tex_escape ))) - ((( entry.end_date | tex_escape )))} % 4
    {((%- if entry.cvitems -%))
          \begin{cvitems}
          ((%- for item in entry.cvitems -%))
            \item {((( item )))}
          ((%- endfor -%))
          \end{cvitems}
      ((%- endif -%))}% 5: This bracket now touches the next one!
    {} % 6
  \vspace{0.5cm}
((% endfor %))
\end{cventries}